.readmore
{
    float: right;
}

h1 
{
    font-size: 1.75em;
}

@media screen and (min-width: 960px)
{
    .sidebar
    {
        width: 30%;
    }
    
    .content,
    .page-top
    {
        width: 70%;
    }
}

@media screen and (max-width: 960px)
{
    blockquote {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 15px;
        margin-inline-end: 40px;
    }
    
}